.idea
.buildpath
.project
.settings
/.vscode
/.github
/.git
/vendor
/node_modules
/.env.local
/.env.local.php
/.env.*.local
/npm-debug.log*
/coverage
/public/bundles
/public/uploads
/sql/unittest/*
/tests
/config/ldap_ou_team_mapping.yml
core
/bin/*
!/bin/console
.chunkhound*
