/.idea
/.buildpath
/.project
/.settings
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/ldap_ou_team_mapping.yml
/app/logs/*.log
/app/cache/*
/app/build/
/bin/*
/web/bundles/*
/web/.htaccess
/vendor/*
/bin/*
/web/bundles/*
