---
services:

  app:
    build: .
    image: ghcr.io/netresearch/timetracker:v4
    volumes:
      - app-pub:/var/www/html/web
      - app-cache:/var/www/html/app/cache
      - app-logs:/var/www/html/app/logs
      - type: bind
        source: ./app/config/parameters.yml
        target: /var/www/html/app/config/parameters.yml
    links:
      - db:db
    restart: always
    environment:
      - TRUSTED_PROXY_ALL
      - TRUSTED_PROXY_LIST


  httpd:
    image: nginx:alpine
    volumes:
      - app-pub:/var/www/html/web
      - ./nginx-conf.d-default.conf:/etc/nginx/conf.d/default.conf
    links:
      - app:phpfpm
    restart: always

  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=global123
      - MYSQL_USER=global
      - MYSQL_PASSWORD=global
      - MYSQL_DATABASE=timetracker
    volumes:
      - db-data:/var/lib/mysql
    restart: always

networks:

  default:
    driver: "bridge"

volumes:

  app-pub:
    driver: local

  app-cache:
    driver: local

  app-logs:
    driver: local

  db-data:
    driver: local
