parameters:
	ignoreErrors:
		-
			rawMessage: Access to an undefined property object::$id.
			identifier: property.notFound
			count: 1
			path: tests/Service/Integration/Jira/JiraHttpClientServiceTest.php

		-
			rawMessage: Access to an undefined property object::$key.
			identifier: property.notFound
			count: 1
			path: tests/Service/Integration/Jira/JiraHttpClientServiceTest.php

		-
			rawMessage: 'Call to method PHPUnit\Framework\Assert::assertInstanceOf() with ''GuzzleHttp\\Client'' and GuzzleHttp\Client will always evaluate to true.'
			identifier: method.alreadyNarrowedType
			count: 3
			path: tests/Service/Integration/Jira/JiraHttpClientServiceTest.php

		-
			rawMessage: Cannot access property $id on mixed.
			identifier: property.nonObject
			count: 2
			path: tests/Service/Integration/Jira/JiraHttpClientServiceTest.php

		-
			rawMessage: 'Parameter #1 $exception of method PHPUnit\Framework\TestCase::expectException() expects class-string<Throwable>, string given.'
			identifier: argument.type
			count: 1
			path: tests/Service/Integration/Jira/JiraHttpClientServiceTest.php

