<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutTodoAnnotatedTests="false"
    beStrictAboutChangesToGlobalState="false"
    cacheDirectory=".phpunit.cache"
    verbose="true"
>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Migrations</directory>
            <directory>src/DataFixtures</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Controller</exclude>
        </testsuite>
        <testsuite name="controller">
            <directory>tests/Controller</directory>
        </testsuite>
    </testsuites>
</phpunit>
