<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_LOCALE" value="de"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="APP_SECRET" value="s$cretf0rt3st"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="DATABASE_URL" value="mysql://unittest:unittest@db_unittest:3306/unittest?serverVersion=8"/>
  </php>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
