<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="false"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerErrors="false"
    displayDetailsOnTestsThatTriggerWarnings="false"
    displayDetailsOnTestsThatTriggerDeprecations="false"
>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Migrations</directory>
            <directory>src/DataFixtures</directory>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>var</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Controller</exclude>
        </testsuite>
        <testsuite name="controller">
            <directory>tests/Controller</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="12.3"/>
        <!-- Memory limit for tests -->
        <ini name="memory_limit" value="2G"/>
        <!-- Symfony deprecation helper - reports deprecations without verbose output -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
