# Matches LDAP organisation units to teams in timetracker
#
# if "ldap_create_user" is set to true in parameters.yml new users will be assigned to fitting teams automatically
# Note that the teams were matched by their names (case sensitive)
#
# Notation:
# ldapou: 'timetracker_teamname'

example_ou: 'example team'

