parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     timetracker
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    secret:            ThisTokenIsNotSoSecretChangeIt

    ldap_host:         "127.0.0.1"
    ldap_port:         389
    ldap_readuser:     "readuser"
    ldap_readpass:     "readuser"
    ldap_basedn:       "dc=company,dc=org"

    app_logo_url:             "bundles/netresearchtimetracker/images/logo.png"
    app_monthly_overview_url: "https://stats.timetracker.nr/?user="
    app_title:                "Netresearch TimeTracker"
    app_header_url:           "https://www.netresearch.de/corpnav-intern/zeiterfassung/"

    proxy_http:               ~

    jira_client_id:           123
    jira_client_secret:       abc
    jira_base_url:            ~
    jira_auth_redirect_route: _start
