parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     timetracker
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    secret:            ThisTokenIsNotSoSecretChangeIt

    ldap_host:          "127.0.0.1"
    # LDAP port: 0 use default ports; 336 non SSL; 636 SSL
    ldap_port:          0
    ldap_readuser:      "readuser"
    ldap_readpass:      "readuser"
    ldap_basedn:        "dc=company,dc=org"
    # use sAMAccountName for AD
    ldap_usernamefield: uid
    # use SSL: old, deprecated, mehtod for encrypted connection
    ldap_usessl:        true
    # startTLS: new method for encrypted connections - not implemented yet
    #ldap_starttls       true
    # whether to create users in TimeTracker after successfully authenticated by LDAP but not existing in TimeTracker
    # also see ldap_ou_team_mapping.yml.dist
    ldap_create_user:   true

    app_logo_url:             "/bundles/netresearchtimetracker/images/logo.png"
    app_monthly_overview_url: "https://stats.timetracker.nr/?user="
    app_title:                "Netresearch TimeTracker"
    app_header_url:           "https://acme.org/corpnav/"

    app_show_billable_field_in_export: false

    # comma-separated list of user names that may act on behalf on other users
    service_users:
