#header .x-panel-body {
	background-color: #D2D2D2 !important;
}

#logo {
    height: 43px;
    margin: 7px 0 0 7px;
}

.icon-info {
    background-image: url(/build/images/information.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-start {
    background-image: url(../images/media_play_green.png) !important;
}

.icon-stop {
    background-image: url(../images/media_stop_red.png) !important;
}

.icon-refresh {
    background-image: url(../images/refresh.png) !important;
}

.icon-export {
    background-image: url(../images/export2.png) !important;
}

.icon-edit {
    background-image: url(../images/edit.png) !important;
}

.icon-delete {
    background-image: url(../images/delete2.png) !important;
}

#statusfrm {
    position: absolute;
	top: 42px;
    left:250px;
    width: 140px;
    height: 50px;
	border: 0px;
	margin: 0px;
    scrolling: no;
}

#login-status {
    position: absolute;
    top: 42px;
    left: 250px;
    font-family: Arial, Sans-Serif;
    font-size: 10pt;
}

#logout {
	position: absolute;
	right: 10px;
	top: 35px;
}

#worktime {
	position: absolute;
	right: 100px;
	top: 35px;
	width: 400px;
	text-align: right;
}

#logout a {
	color: #000000;
	text-decoration: none;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('../images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('../images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.x-grid-table {
    border-collapse: collapse;
}

.x-grid-body .x-grid-row-alt .x-grid-cell {
    background-color: #f8f8f8;
}

.x-grid-body .x-grid-row-selected .x-grid-cell, .x-grid-body .x-grid-row-focused .x-grid-cell {
    background-color: #ff8 !important;
}

.x-grid-dirty-cell {
    background-color: #fbb !important;
    background-image: none;
}

#nrnavi {
	height: 30px;
	width: 100%;
	border: 0px;
	margin: 0px;
}

.pause-row-bottom {
    border-bottom: 6px solid #ddd;
}

.night-row-bottom {
    border-bottom: 4px solid #00889A;
}

.overlap-row-bottom {
    border-bottom: 4px solid red;
}

.unsaved {
    background-color: #fbb !important;
    background-image: none;
}

.status_active {
    width: 80px;
    height: 20px;
    padding-left: 22px;
    color:#006600;
    background-image: url(../images/connected.png) !important;
    background-repeat:no-repeat;
    background-position:top left;
}

.status_inactive {
    width: 80px;
    height: 20px;
    padding-left: 22px;
    color:#B00000;
    background-image: url(../images/inactive.png) !important;
    background-repeat:no-repeat;
    background-position:top left;
}

.status_page {
    background-color: #d2d2d2;
    width:140px;
    height:45px;
    border:0px;
    margin:0px;
    font-family: Arial, Sans-Serif;
    font-size: 10pt;
}

.x-message-box, .x-window {
    border: 3px solid #00889A;
    background-color: #FFF;
}

.x-message-box div {
    background-color: #FFF;
}

.ux-notification-light .x-window-body, .ux-notification-light-error .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
}

.ux-notification-light .x-window-header, .ux-notification-light-error .x-window-body {
    background-color: transparent;
}

.ux-notification-light .x-window-body {
    background-color: #bfb;
}

.ux-notification-light-error .x-window-body {
    background-color: #fbb;
}

